venv
videoplayer.egg-info
videoplayer/__pycache__
videoplayer/buttons/__pycache__
videoplayer/slider/__pycache__
videoplayer/mediaplayer/__pycache__
videoplayer/eventlogger/__pycache__
videoplayer/logs
videoplayer/errorlogs
dist
build
pyqt_settings.ini
logs